body{
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  width: 100%;
  height: 100%;
  

}

.div1{
  background-color: red;
  height: 15cm;
  width: 9cm;
  align-items: center;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 3%;
  box-shadow: 0cm 0cm 0.5cm 0.5cm rgba(0, 0, 0, 0.2), 0cm 0cm 0cm 0cm rgba(0, 0, 0, 0.19);
}

.div2{
  background-color: blue;
  height: 6cm;
  width: 9cm;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;


}

.div3{
  height: 3cm;
  width: 9cm;
}

.div4{
  background-color: white;
  height: 2cm;
  width: 9cm;
  display: flex;
}

.div5{
  background-color: orange;
  height: 3cm;
  width: 9cm;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}

#root{
  width: 100%;
  height: 100%;
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

#heart{
  color: red;
}

#bedroom{
  fill: gray;
  height: .5cm;
  width: .5cm;
}