body{
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  width: 100%;
  height: 100%;
  

}

.div1{
  background-color: red;
  height: 15cm;
  width: 9cm;
  align-items: center;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 15%;
}

.div2{
  background-color: blue;
  height: 6cm;
  width: 9cm;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}

.div3{
  background-color: black;
  height: 3cm;
  width: 9cm;
}

.div4{
  background-color: white;
  height: 3cm;
  width: 9cm;
}

.div5{
  background-color: orange;
  height: 3cm;
  width: 9cm;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

#root{
  width: 100%;
  height: 100%;
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}